

nav{
    padding: 0px;
    margin: 0px;
}

header {
    padding: 0.5em; 
    color: white;
    background-color: rgb(35, 122, 208);
    clear: left;
}

footer{
    align-items: center;
    text-align: center;
}
h1.header {
    padding: 0;
    margin: 0;
}
#user {
    float: right;
}
aside {
    display: table-cell;
    width: 160px;
    margin: 0;
    padding: 10px;
    background-color: rgb(35, 122, 208);
    height: max-content;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
section {
    display: table-cell;
    
    padding: 1em;
    vertical-align: top;
   
    
    text-align: center;
    max-height: 10px;
    
}
ul.menu {
    float:left;
    width:100%; /* A menü az alatta levő szövegtől elválik, birtokolja a teljes vízszintes sávját. */
    padding:0;
    margin:0;
    list-style-type:none;
    display: block;
}        
ul.menu a {
    float:left;
    width:6em; /* Fix szélességű gombok érhetők el. Érdemes azonban vigyázni ezzel a módszerrel, mert ha a szöveg nem fér ki, a dizájn szétesik. */
    text-decoration:none; /* Ne legyen aláhúzva a link. */
    color:white;
    background-color:navy;
    padding:0.3em 0.8em;
    border-right:1px solid white;
    border-radius: 10px;
    margin: 10px;
    
}
ul.menu a.selected{
    background-color: blue;
}
ul.menu a:hover { background-color: lightblue;} /* Az egérkurzorra színváltással reagál a menüpont. */
ul.menu a:hover {color: black;}
ul.menu li { list-style: none;} /* Ez a sor oldja meg, hogy a menüpontok egymás mellé kerüljenek. */


/* CSS for basic styling (optional) */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    color: rgb(0, 0, 0);
    background-color: rgb(64, 147, 230);
    padding: 0px;
    margin: 0px;
    color: #eaf7ff;
    
}
#kozepre{

    justify-content: center;
    align-items: center;
    display: flex;
    

}
.data-container-export{

    padding: 5px;
    width: 300px;
    
}

#konti{

    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    padding: 10px;
    margin-top: 0px;

}
#login{
    text-align: left;
}
.login-container{
  
  
    max-width: 400px;
    margin: 0 auto;
    align-items: center;  
    background-color: rgb(235, 235, 235);
    padding: 10px;
    border-radius: 10px;
    border-bottom: solid 5px rgba(0, 0, 0, 0.586);
    border-right: solid 5px rgba(0, 0, 0, 0.586);
    color: black;
}

.exportbutton{

    
    background-color: #2878a7 !important;
    color: white !important;
    padding: 5px;
    border-radius: 5px;
}

.exportbutton:hover{

    
    background-color: #3290c6 !important;
}
.gomb{
    background-color: #2878a7 !important;
    
}

.gomb:hover{

    background-color: #3290c6 !important;

}

.data-container{
  
  
    max-width: 500px;
    margin: 0 auto;
    align-items: center;  
    color: white;

   
  

}




.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center; /* A form elemek középre kerülnek */
    text-align: center; /* Alapértelmezésként középre igazítja a tartalmat */
}

form label {
    text-align: left; /* Minden szöveges elem balra igazítva */
    width: 100%; /* Szélességük legyen 100%, hogy egy vonalban legyenek */
}


#user {

    z-index: 1000;
    margin-left: -100px;
}


label {
    margin-top: 10px;
}

input, textarea {
    padding: 10px;
    width: 20em;
    margin-top: 5px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #2878a7;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    width: 10em;
  
}

input[type="submit"]:hover {
    background-color: #2878a7;
}

.error {
    color: red;
}

.success {
    color: green;
}

.ok{
    color: rgb(0, 255, 251);
    text-align: center;
    align-items: center;
    margin: 10px;
    padding: 5px;

}

.homegomb{

        margin-top: 40px;
        padding-top: 20px;
        padding: 10px;
        border-radius: 10px;
        border: 2px solid rgba(0, 0, 0, 0.829);
        text-decoration: none;
        color: rgb(0, 0, 0);
        background-color: rgba(148, 148, 148, 0.337);
}

.homegomb:hover{

    background-color: rgb(0, 0, 0); 
    color: rgb(255, 255, 255);
}

#name{
    color: #8dd5ff;
}

#datum{
    font-size: 13px;
}

p{
    padding:0px;
    margin: 5px;
    
}
.message{
    text-align: left;
    border-bottom: 1.5px solid #9b9b9b;
    padding: 1px;
    margin: 5px;
    background-color: rgb(13, 33, 107);
    color: rgb(245, 245, 245);
    border-radius: 10px;
}    

.message:last-child {
    border-bottom: none;
}

.uzenet{

    background-color: rgb(46, 57, 125);
    padding: 5px;
    margin-left: 0px;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px ;
    

}



